@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --cozy-gray: #272727;
    --theme-blue: #89A8C6;
}

* {
    color: white;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
}

body {
    background: var(--cozy-gray);
}

h1 {
    font-size: 4em;
    font-weight: bold;
}